:root {
  --black-col: rgb(25, 35, 55);
  --white-col: rgb(230, 230, 230);
}

body {
  user-select: none;
  font-family: monospace;
  background-color: var(--black-col);
  overflow: hidden;
}

.message {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 256px;
  text-align: center;
  text-shadow: 0 0 8px !important;
}

#position {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-col);
  text-shadow: 0 -2px 6px;
  font-weight: bold;
  font-size: 1.2rem;
}

#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  display: flex;
  justify-content: center;
  align-items: start;
  width: min-content;
  height: min-content;
  transform-origin: center top;
  transition: transform 400ms ease-out;
}

#player > svg {
  position: absolute;
  align-self: center;
  fill: var(--white-col);
  width: 12px;
  height: 20px;
  transform: scale(2);
}

#player > .glow {
  opacity: 0.5;
  filter: blur(4px);
}

#world {
  width: 100vw;
  height: 100vh;
  transition: transform 800ms ease-out;
}

#world > * {
  position: absolute;
  color: var(--white-col);
  text-shadow: 0 4px 24px;
}

#world > .bubble {
  opacity: 0;
  animation: bubble-float 1s linear infinite;
}

@keyframes bubble-float {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-64px);
  }
}
