:root {
  --black-col: rgb(25, 35, 55);
  --white-col: rgb(230, 230, 230);
}

body {
  user-select: none;
  font-family: monospace;
  background-color: var(--black-col);
  overflow: hidden;
}

*::selection {
  background-color: var(--white-col);
  color: var(--black-col);
}

.message {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 256px;
  text-align: center;
  text-shadow: 0 0 8px !important;
}

.message > * {
  margin: 0;
}

.message-user-name {
  font-size: 0.6rem;
  text-shadow: 0 0 16px !important;
}

#position {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-col);
  text-shadow: 0 -2px 12px;
  font-weight: bold;
  font-size: 1.2rem;
}

#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  display: flex;
  justify-content: center;
  align-items: start;
  width: min-content;
  height: min-content;
  transform-origin: center top;
  transition: transform 400ms ease-out;
}

#player > svg {
  position: absolute;
  align-self: center;
  fill: var(--white-col);
  width: 12px;
  height: 20px;
  transform: scale(2);
}

#player > .glow {
  opacity: 0.5;
  filter: blur(4px);
}

#world {
  width: 100vw;
  height: 100vh;
  transition: transform 800ms ease-out;
}

#world > * {
  position: absolute;
  color: var(--white-col);
  text-shadow: 0 4px 24px;
}

#world > .bubble {
  opacity: 0;
  animation: bubble-float 1s linear infinite;
}

#create-message-container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity 1s ease-in-out;
}

#create-message-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
  margin: 0;
}

#create-message-container > * > * {
  color: var(--white-col);
  text-shadow: 0 0 4px;
}

#create-message-container > * > label {
  font-size: 1.6rem;
  margin-right: 32px;
}

#create-message-container > * > input,
#create-message-container > * > textarea {
  resize: none;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.4rem;
  box-shadow: inset 0 0 6px var(--white-col), 0 0 12px var(--white-col);
  border-style: solid;
  border-color: var(--white-col);
  border-width: 2px;
}

#create-message-container > * > input:focus,
#create-message-container > * > textarea:focus {
  outline: none;
}

#create-message-button {
  background-color: transparent;
  color: var(--white-col);
  text-shadow: 0 0 6px;
  height: 48px;
  width: 128px;
  align-self: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: solid 2px var(--white-col);
  box-shadow: inset 0 0 6px var(--white-col), 0 0 12px var(--white-col);
}

@keyframes bubble-float {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-64px);
  }
}
